<!DOCTYPE html>
<html>

  {% include head.html %}

  <style>
    body { text-align: center; padding: 100px; padding-top: 200px }
    h1 { font-size: 64px; }
    body { font-size: 32px; }
    article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  </style>

    <body>

      <article>
          <h1>Under Construction</h1>
          <div>
              <p>Our site is currently under construction, it'll come soon! :)</p>
              <p>&mdash; The BitNeed Team</p>
          </div>
      </article>

    {% include js.html %}

    </body>
</html>
